*{
  margin: 0%;
  color: rgb(41, 39, 39);
}

button{
  align-self: auto;
  background-color: rgb(255, 0, 119);
  text-align: center;
  border-style: none;
  border-radius: 10px;
  height: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: auto;
  margin: 0%;
  border-bottom: 1px solid white;
}

.navbar h1{
  color: rgb(255, 0, 119);
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  margin-left: 40px;
  text-decoration: none;
  padding : 12px
}

.navbar a:hover{
  color: rgb(255, 0, 119);
}

.content{
  padding: 0%;

}

.items{
  align-items: center;
  margin: 0%;
  padding: 3%;
}

.home{
  padding: 3%;
  text-align: center;
}

.blog-preview{
  margin: 30px  ; 
  padding : 10px; 
  border-left-style: solid;
  border-color: rgb(255, 0, 119);
  max-width: 60%;
  text-align: justify;
}

.blog-list h2{
  text-align: left;
}

.blog-preview button{
  margin-top: 20px;
  color: white;
}

.blog-preview button:hover{
  color: rgb(255, 0, 119);
  background-color: white;
  border-color: rgb(255, 0, 119);
  border-style: solid;
}

.blog-preview h2{
  color :rgb(255, 0, 119)
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgb(41, 39, 39);
}